@page "/about"
<h2>About Me</h2>
<p> I am Earl Jasper D. Moniño, a second-year BSIT student
currently studying at Cebu Technological University - Daanbantayan Campus.</p>
<p>20 years old, born on December 11, 2005.</p>
<p></p>