@page "/"

<PageTitle>Home</PageTitle>
<h1>Hello, I am Earl Jasper D. Moniño</h1>

<p>Welcome to my portfolio website. This is a Blazor WebAssembly application built with .NET 10.0. Explore the skills
    and projects sections to learn more about my work and experience.
</p>

<p>
    I am a passionate web developer with a little experience in building websites and applications. I have a strong
    foundation in HTML, CSS, but a little experience with JavaScript, and a little C#. I am always eager to learn new
    technologies and improve my skills.
    I am currently focused on building web applications using Blazor and .NET.
</p>