@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, I am Earl Jasper D. Moniño</h1>

<p>Welcome to my portfolio website. This is a Blazor WebAssembly application built with .NET 10.0. Explore the skills
    and projects sections to learn more about my work and experience. For more projects, just go to my GitHub account
    <a href="https://github.com/earldaizon62" target="_blank">here</a>.
</p>