@page "/project"

<PageTitle>Project</PageTitle>
<h3>Projects</h3>
<ul>
    <li>Coffee Website</li>
    <li>Car Reference Website</li>
    <li>E-Clinic System</li>
    <li>User Management System</li>
</ul>