@page "/project"

<PageTitle>Project</PageTitle>
<h3>Projects</h3>
<ul>
    <li>Coffee Website</li>
    <li>Car Reference Website</li>
    <li>E-Clinic System</li>
    <li>User Management System</li>
</ul>
<p>For more projects, just go to my GitHub account
    <a href="https://github.com/earldaizon62" target="_blank">here</a>.
</p>