@page "/skill"

<PageTitle>Skill</PageTitle>

<h1>Skills</h1>
<ul>
    <li>HTML <input type="range" min="0" max="100" value="90">
        <p>90%</p>
    </li>
    <li>CSS <input type="range" min="0" max="100" value="70">
        <p>70%</p>
    </li>
    <li>JavaScript <input type="range" min="0" max="100" value="30">
        <p>30%</p>
    </li>
    <li>JAVA <input type="range" min="0" max="100" value="50">
        <p>50%</p>
    </li>
    <li>.NET <input type="range" min="0" max="100" value="20">
        <p>20%</p>
    </li>
    <li>Python <input type="range" min="0" max="100" value="15">
        <p>15%</p>
    </li>
    <li>SQL <input type="range" min="0" max="100" value="15">
        <p>15%</p>
    </li>
    <li>C <input type="range" min="0" max="100" value="80">
        <p>80%</p>
    </li>
</ul>